/* You can add global styles to this file, and also import other style files */
html {    
    background: url('assets/background.jpg') no-repeat center fixed;     
    background-size: cover;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.top-button {
    background-color: #0d77fa;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #0d77fa; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 60px);
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
