.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 36px);
}

.container form {
    width: 361px;
}

.container form input {
    border-radius: 3px;
    border: 1px solid #0d77fa;
    outline: #0d77fa;
    background-color: #fff;
    height: 35px;
    width: 260px;
}

.container form .mat-button {
    background-color: #0d77fa;
    height: 39px;
}

@media (max-width:360px) {
    .container form input {
        width: 240px;
    }

    .container form {
        width: 359px;
    }    
}